<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Mayores a 0
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body.text-center
	h2 EJERCICIO SEIS
	h5 #Cuántos números son menores o iguales a cero y cuántas mayores a cero.

	input#numero(placeholder='Escribe un número')
	button.btn.btn-warning(onclick='identificar()') Clasificar
	.row
		h1#grande.alert.alert-warning

	.row
		.col-md-4.thumbnail#a
		.col-md-4.thumbnail#b
		.col-md-4.thumbnail#c


	script(src='main.js')
