<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Tiki Taka
body.text-center
	input#venta
	button(onclick='calcular()') Ingresar
	.row
		.col-md-4
			p#a
		.col-md-4 
			p#b
		.col-md-4
			p#c
	script(type="text/javascript" src="main.js")