<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Igual o menor a 0
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body.text-center
	h1 Ejercicio dos
	h3 #Igual o menor a 0
	input#numero(placeholder='Ingresa un número')
	br
	br
	button(onclick='ingresarNumero()') Registrar
	br
	br
	button(onclik='calcular()') Calcular