<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Horas de trabajo
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body
	.container
		h2.text-center EJERCICIO SIETE
		h5.text-center #Horas de trabajo
		.row
			.col-md-6
				h3 Indica tu horario de trabajo
				h6 Hora de entrada 
				input#inicio(placeholder='Entrada')
				select#a
					option(value=0) AM
					option(value=1) PM
				h6 Hora de salida
				input#final(placeholder='Salida')
				select#b
					option(value=0) AM
					option(value=1) PM

				h3 Selecciona el día
				select#semana

				h3 Indica el pago por hora
				input#sueldo(placeholder='S/. 0.00')

				p
					br
					button(onclick='calcularHora()') Calcular
			.col-md-6
				h3#msmUno
				br
				.row
					h3.text-center Sueldo semanal 
					.col-md-4
						h6#dia Día
					.col-md-4
						h6 Cantidad de horas trabajadas
					.col-md-4
						h6 Sueldo por dia
				.row
					h3#msmDos




	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
	script(src='main.js')
