<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Sucesión Fibonacci
body.text-center
	strong
		h1 EJERCICIO DOS
		h2 #Igual o menor a 0
	.operacion
		h3 Aqui puedes ingresar el número límite para la sucesión
		input#dato
		button(type='text' onclick="calcular()") Generar
		h2 Aqui se podras ver la Sucesión Fibonacci
		p#resultado 
	script(type="text/javascript" src="main.js")