<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Aguascalientes-Zacatecas
body
	input#a(placeholder='Distancia 1')
	br
	br
	input#b(placeholder='Distancia 2')
	br
	br
	button(onclick="calcular()") Calcular
	p#mostrar
script(type="text/javascript" src="main.js")