<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Aguascalientes-Zacatecas
body
	input#a
	input#b
	button(onclick="calcular()") Calcular
	p#mostrar
script(type="text/javascript" src="main.js")

