<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body.text-center
	strong
		h1 EJERCICIO UNO
	h2 #Promediar alturas
	.operacion
		br			
		input#dato(type="text" placeholder='Ingresa la estatura' class='btn btn-warning')
		button(type='button' onclick="registrarEstatura()") Registrar
		button(type='button' onclick="promediar()") Promediar
		ul#mostrarDatos
		h2#resultado Promedio:

	script(type="text/javascript" src="main.js")
		
	